@font-face {
    font-family: "Neucha";
    src: url(fonts/Neucha.ttf) format("truetype");
}

body {
    font-family: 'Times New Roman', serif;
    background: url("images/bg.png") repeat;
}

section a:link {
    color: #a00;
    text-decoration: none;
}
section#archive {
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
}
section#archive a {
    margin: auto .5em;
}
section a:visited {
    color: #fa8;
}
section a:hover {
    color: #f50;
}
section a:active {
    color: #f90;
}

header a:link {
    color: #000;
    text-decoration: none;
}
header a:visited {
    color: #666;
}
header a:hover {
    color: #999;
}
header a:active {
    color: #d40;
}

a#back:link, a#previous:link, a#next:link, a#download:link {
    color: #666;
}
a#back:visited, a#previous:visited, a#next:visited, a#download:visited {
    color: #666;
}
a#back:hover, a#previous:hover, a#next:hover, a#download:hover {
    color: #000;
}
a#back:active, a#previous:active, a#next:active, a#download:active {
    color: #d40;
}

#back {
    position: fixed;
    top: 20px;
    left: 20px;
    opacity: 0.6;
}

#previous {
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: 0.6;
}

#next {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.6;
}

#download {
    position: fixed;
    top: 20px;
    right: 20px;
    opacity: 0.6;
}

#slide {
    height: 200px;
}

p {
    font-size: 1.4em;
    text-align: justify;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
}

header {
    text-align: center;
}

header p {
    text-align: center;
}

section {
    font-family: 'Neucha';
}

footer p {
    font-size: 0.8em;
    text-align: center;
}

li {
    font-size: 1.5em;
}

sup {
    font-size: 0.6em;
    color: #555;
}

.readMoreButton {
    font-size: 1.5em;
}

section img {
    min-width: 8em;
    max-width: 15em;
    min-height: 4em;
    max-height: 8em;
    margin: 0 auto;
    display: block;
}

span {
    color: #f00;
}

blockquote {
    color: #050;
}

#description {
    font-family: "Neucha";
    font-size: 1.4em;
    color: #f00;
    border: 2px solid;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    position: fixed;
    margin-left: -7em;
    width: 14em;
    left: 50%;
    bottom: 20px;
}

.hint, [data-hint] {
    position: relative;
    display: inline-block;
}

.hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms;
}
.hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after, [data-hint]:hover:before, [data-hint]:hover:after, [data-hint]:focus:before, [data-hint]:focus:after {
    visibility: visible;
    opacity: 1;
}
.hint:hover:before, .hint:hover:after, [data-hint]:hover:before, [data-hint]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
}

.hint:before, [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}

.hint:after, [data-hint]:after {
    content: attr(data-hint);
    background: #a83838;
    color: white;
    padding: 8px 10px;
    font-size: 18px;
    line-height: 12px;
    white-space: nowrap;
}

.hint:before {
    border-bottom-color: #a83838;
    margin-top: -12px;
}

.hint:after {
    margin-left: -18px;
    border-radius: 4px;
}

.hint:before, .hint:after {
    top: 100%;
    left: 50%;
}

.hint:hover:after, .hint:hover:before, .hint:focus:after, hint:focus:before {
    -webkit-transform: translate(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
}
