@font-face {
    font-family: "Neucha";
    src: url(../fonts/Neucha.ttf) format("truetype");
}

body {
    font-family: 'Neucha';
    font-size: 1.4em;
    background: url("../images/bg.png");
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
}

h2 {
    font-size: 1.1em;
}

sup {
    font-size: .6em;
    color: #555;
}

span {
    color: #f00;
}

blockquote {
    color: #050;
}

blockquote::first-letter {
    font-size: 3em;
    color: #a00;
}

a:link {
    color: #a00;
    text-decoration: none;
}
a:visited {
    color: #fa8;
}
a:hover {
    color: #f50;
}
a:active {
    color: #f90;
}

figure {
    text-align: center;
}

header {
    font-family: "Times New Roman", serif;
    text-align: center;
}

header a:link {
    color: #000;
}
header a:visited {
    color: #666;
}
header a:hover {
    color: #999;
}
header a:active {
    color: #d40;
}

nav {
    margin: 1em auto;
    text-align: center;
    font-size: .8em;
    font-weight: bold;
}
nav a {
    margin: auto .5em;
}

article p {
    text-align: justify;
}

article img {
    min-height: 6em;
    max-height: 20em;
    min-width: 15%;
    max-width: 45%;
    margin: 0 auto;
    display: inline-block;
}

.button {
    position: fixed;
    opacity: .6;
}
#back {
    top: 1em;
    left: 1em;
}
#previous {
    bottom: .1em;
    left: 1em;
}
#next {
    bottom: 1em;
    right: 1em;
}
#download {
    top: 1em;
    right: 1em;
}

#slide {
    max-height: 10em;
    max-width: calc(100%/3.5);
}

a.button:link {
    color: #000;
}
a.button:visited {
    color: #666;
}
a.button:hover {
    color: #999;
}
a.button:active {
    color: #d40;
}

#description {
    color: #b00;
    background-color: #fff;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    max-width: 70%;
    padding: .5em;
    bottom: 1em;
}

footer p {
    font-size: .6em;
    font-weight: bold;
    text-align: center;
}

/* Loader from CSS website with loaders*/
.loader {
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: .8em auto;
    position: relative;
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
    opacity: .8;
}

@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.11em -0.83em 0 -0.42em #000000, -0.11em -0.83em 0 -0.44em #000000, -0.11em -0.83em 0 -0.46em #000000, -0.11em -0.83em 0 -0.477em #000000;
    }
    5%, 95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.11em -0.83em 0 -0.42em #000000, -0.11em -0.83em 0 -0.44em #000000, -0.11em -0.83em 0 -0.46em #000000, -0.11em -0.83em 0 -0.477em #000000;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.51em -0.66em 0 -0.42em #000000, -0.75em -0.36em 0 -0.44em #000000, -0.83em -0.03em 0 -0.46em #000000, -0.81em 0.21em 0 -0.477em #000000;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.29em -0.78em 0 -0.42em #000000, -0.43em -0.72em 0 -0.44em #000000, -0.52em -0.65em 0 -0.46em #000000, -0.57em -0.61em 0 -0.477em #000000;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.11em -0.83em 0 -0.42em #000000, -0.11em -0.83em 0 -0.44em #000000, -0.11em -0.83em 0 -0.46em #000000, -0.11em -0.83em 0 -0.477em #000000;
    }
}

@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.11em -0.83em 0 -0.42em #000000, -0.11em -0.83em 0 -0.44em #000000, -0.11em -0.83em 0 -0.46em #000000, -0.11em -0.83em 0 -0.477em #000000;
    }
    5%, 95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.11em -0.83em 0 -0.42em #000000, -0.11em -0.83em 0 -0.44em #000000, -0.11em -0.83em 0 -0.46em #000000, -0.11em -0.83em 0 -0.477em #000000;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.51em -0.66em 0 -0.42em #000000, -0.75em -0.36em 0 -0.44em #000000, -0.83em -0.03em 0 -0.46em #000000, -0.81em 0.21em 0 -0.477em #000000;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.29em -0.78em 0 -0.42em #000000, -0.43em -0.72em 0 -0.44em #000000, -0.52em -0.65em 0 -0.46em #000000, -0.57em -0.61em 0 -0.477em #000000;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #000000, -0.11em -0.83em 0 -0.42em #000000, -0.11em -0.83em 0 -0.44em #000000, -0.11em -0.83em 0 -0.46em #000000, -0.11em -0.83em 0 -0.477em #000000;
    }
}
