@font-face {
    font-family: "Neucha";
    src: url(fonts/Neucha.ttf) format("truetype");
}

body {
    font-family: 'Times New Roman', serif;
    background: url("images/bg.png") repeat;
}

#logo {
    width: 60px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#slide {
    height: 200px;
}

p {
    font-size: 1.4em;
    text-align: justify;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
}

a:link {
    color: #000;
}
a:visited {
    color: #666;
}
a:hover {
    color: #999;
}
a:active {
    color: #d40;
}

header {
    text-align: center;
}

section {
    font-family: 'Neucha';
}

footer {
    font-size: 0.8em;
    text-align: center;
}
